/*
    Base Stylesheet
*/

:root {
    --background-color: #231a26;
    --text-color: #FAF9F6;
    --mute-color: #3a2a3f;
    --secondary-color: #5D3449;
    --accent-color: #F6B65E;

    --center-max-width: 85%;
}

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: inherit;
}

body {
    line-height: 1.8;
}

a, em {
    color: var(--accent-color);
}
a:hover {
    color: var(--secondary-color);
}

strong { font-weight: bolder; }

::selection {
    background-color: var(--secondary-color);
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3, h4, h5, h6 {
    font-size: 1.4rem;
}
.center-container {
    margin: 0 auto;
    max-width: var(--center-max-width);
}

.text-container {
    margin-bottom: 1.6rem;
}

.section-padding {
    padding: 3rem 0;
}

hr {
    margin: 1rem 0;
    height: 1px;
    border: none;
    background-color: var(--secondary-color);
}

.layout-header {
    width: 100%;
    background-color: var(--background-color);
}

.layout-header .navbar .navbar-list {
    display: flex;
    gap: 4rem;
    padding: 2rem 0;
}

.intro-hero-section {
    padding: 2rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('../assets/images/moviemap-hero-background.jpg');
    background-position: bottom;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.footer-layout {
    text-align: center;
    padding: 2rem 0;
}